body {
  overflow-x: hidden;
  font-family: "circular-book", sans-serif;
  color: #505962;
}

@font-face {
  font-family: "circular-book";
  src: url("fonts/circular-book.woff") format("truetype");
}

/*--- Nav Scrolling Offset --*/
.offset::before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*-- Extra Bootstrap Colum Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*========== NAVIGATION ===========*/
.navbar {
  padding: 1.8rem 4rem;
  text-transform: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  background: #fff;
  transition: background-color 0.5s ease 0s;
}

.navbar-brand img {
  height: 2rem;
}

.svg-inline--fa.fa-w-14 {
  color: #000;
  font-size: 1.1rem;
}

.navbar-nav li {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.navbar-nav .nav-link {
  color: #031d5b;
  padding-top: 0.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #29df46;
}

.navbar.solid {
  background: white !important;
  box-shadow: 0px 4px 10px rgba(64, 77, 190, 0.12);
}

/*=========== LANDING PAGE ============*/

.home-inner {
  background-color: white;
}

.about-section {
  background-color: #f9f8fc;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 25%;
  z-index: 1;
  font-family: "circular-book";
}

.caption h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: initial;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  font-family: "circular-book";
}

.caption h3 {
  color: #031d5b;
  font-size: 2.9rem;
  text-transform: initial;
  font-weight: 700;
  padding-bottom: 2rem;
  font-family: "circular-book";
}

.caption p {
  color: #031d5b;
  text-transform: initial;
  font-weight: 400;
  padding-bottom: 2rem;
  font-family: "circular-book";
  font-size: 18px;
}

.caption .btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block !important;
}

.caption .svg-inline--fa.fa-w-14 {
  margin: 1.2rem 0.5rem 0, 0;
  font-size: 1.6rem;
}

.caption svg.svg-inline--fa:hover {
  color: white !important;
}

.btn-chat {
  margin: 1rem 0rem;
  background-color: #1cc44f;
  color: white;
}

.btn-chat:hover {
  color: white;
}

.btn-chat-benefits {
  margin: 1rem 0rem;
  color: #28a745;
}

.btn-chat-benefits:hover {
  color: white;
}

.btn-chat-benefits .svg-inline--fa.fa-w-14 {
  color: #28a745;
}

.btn-chat-benefits .svg-inline--fa.fa-w-14 {
  color: white;
}

/*========== Features Section ========*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1.1rem;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}

.btn-header {
  background: #e5ebff;
  align-self: center;
  /* margin: 10px;
  padding: 10px; */
  border-radius: 5px;
}

.btn-turquoise {
  border-color: #0e40ef;
  background-color: #0e40ef;
  color: white;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
  border-color: rgb(25, 8, 135);
  background-color: rgb(25, 8, 135);
  color: white;
}

.jumbotron {
  margin: 50px;
  border-radius: 0 15rem 0 15rem;
  padding: 5rem 0 10rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: inherit;
  text-align: center;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: 0.1rem;
  background-color: #29df46;
  margin: 0 auto 2rem;
}

.feature {
  text-align: center;
}

.feature .fa-layers {
  color: #0e40ef;
  height: 6rem;
  margin: 0 auto;
  width: 3.9rem;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: inherit;
  padding-bottom: 0.4rem;
}

.feature p {
  font-size: 1.1rem;
}

/*========== Fixed Background Image Blue ========*/

#fixed {
  /*background-image: url('img/mask.png');*/
  background-color: #010e2d;
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000 !important;
}

.dark h3,
.dark p {
  color: #e9ecef;
}

.light h3,
.light p {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

/*============= Benefits ================*/
.card {
  /* width: 6rem;
  height: 6rem; */
  margin: auto;
}
.card-img {
  display: block;
  margin: auto;
  height: 4rem;
  width: 4rem;
}

.card-img-top {
  width: auto;
  height: 4rem;
  vertical-align: middle;
  margin: 10px auto;
}

.margin-3 {
  /*margin-right: 2rem;*/
  margin-left: -3rem;
}

/*=============== DOWNLOAD SECTION ==============*/
#download .image-content img {
  height: 40rem;
  margin: -9rem 2rem 0rem;
}

.download-background {
  background-color: #010e2d;
  color: white;
}

/*=============== CLIENT SECTION ==============*/
.clients img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.clients img:hover {
  transform: scale(0.95);
}

blockquote .svg-inline--fa {
  margin: 1rem;
  color: #0e40ef;
}

.clients-hr {
  border-top: 0.08rem solid #0e40ef !important;
}

/*=============== CONTACT SECTION ==============*/
footer {
  /*background: url('img/mask.png') no-repeat;*/
  background-color: #010e2d;
  background-size: cover;
  color: white;
}

footer .row {
  background-color: rgba(16, 15, 92, 0.25);
  padding: 1rem 2rem 3rem;
}

footer img {
  height: 2rem;
  margin: 1.5rem 0rem;
}

.img-dashboard {
  height: 35rem;
  max-width: 400px;
  /* margin: 0rem -10rem 0rem 10rem; */
  margin-top: -5rem;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0, 0;
}

footer svg.svg-inline--fa:hover {
  color: #0e40ef !important;
}

footer strong a {
  color: white;
}

footer strong a:hover {
  color: white;
  text-decoration: none;
}

hr.socket {
  border-top: 0.01rem solid #e9ecef;
  width: 100%;
}

/*=============== TOP SCROLL SECTION ==============*/

.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}

a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: 0.3;
  z-index: 1000;
}

a.top-scroll:hover {
  opacity: 0.5;
}

/*=============== MEDIA QUERIES ==============*/

/* Devices under 992px (lg) */
@media (max-width: 991px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.8rem;
  }

  .caption h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }

  .narrow h1 {
    font-size: 2.1rem;
  }

  .img-dashboard {
    display: none;
    height: 0rem;
    margin: 0rem 0rem 0rem 0rem;
  }

  .img-download {
    display: none;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
}

/*---------------------------------------
   SECTION FEATURES              
-----------------------------------------*/
.features {
  padding-top: 40px;
}

.feature-list {
  min-height: 270px;
  margin-bottom: 75px;
}
.feature-list img.icon {
  width: 60px;
  height: auto;
}
.feature-list .h-center {
  margin-top: 6%;
}

.feature-list .description-content .lead {
  font-size: 18px;
  line-height: 24px;
}
